body {
    background: black;
    margin: auto;
    padding: 0;
    font-size: 1.2rem;
    line-height: 1.1em;
}

p {
    margin-bottom: 1.6em;
}



/*-------------eslider--------------------*/


.contenedor2-slider {
    background: rgba(243, 10, 10, 0.952);
    margin: auto;
    width: 100%;
    overflow: hidden;
}

.slider {
    display: flex;
    width: 500%;
    animation: cambio 20s infinite alternate;
}

.slider section {
    width: 100%;
}

.slider img {
    display: block;
    width: 100%;
    height: 100%;
}

@keyframes cambio {
    0% {
        margin-left: 0;
    }

    20% {
        margin-left: 0;
    }

    25% {
        margin-left: -100%;
    }

    45% {
        margin-left: -100%;
    }

    50% {
        margin-left: -200%;
    }

    70% {
        margin-left: -200%;
    }

    75% {
        margin-left: -300%;
    }

    100% {
        margin-left: -300%;
    }
}

/*------------------- cuerpo contenido----------------*/

.paneltituloH {
    background: #e72d2d;
    text-align: center;
    font-size: 100%;
    width: 100%;
    height: 140px;
    position: relative;
    top: 0px;
    z-index: -1;


}

.paneltituloH h1 {
    font-family: 'Nanum Myeongjo', serif;
    font-weight: 900;
    padding-top: 50px;
    margin: 22px;
    color: white;
}

.paneltituloH h2 {
    font-family: 'Nanum Myeongjo', serif;
    padding: 0;
    color: white;
}


.contenedorprincipal {
    background: rgb(255, 255, 255);
    width: 90%;
    margin: 20px auto;
    position: relative;
    top: 0px;
    border-radius: 8px;
    z-index: -1;
}


.contenedor2H {
    background: white;
    display: flex;
    /*align-items: center;*/
    border-radius: 8px;
    width: 100%;
    position: absolute;
    top: 0%;
    left: 0px;
}

.contenedor2H .card {

    width: 33.3%;
    height: 410px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    margin: 20px 15px;
    text-align: center;
    transition: all 0.2s;

}

.contenedor2H .card:hover {
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.contenedor2H .card img {
    width: 100%;
    height: 210px;
}


.contenedor2H .card h4 {
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
    font-weight: bold;
}

.contenedor2H .card p {
    padding: 0 1rem;
    font-size: 16px;
    font-weight: 300;
}

.contenedor2H .card a {
    font-family: 'Nanum Myeongjo', serif;
    font-weight: 500;
    text-decoration: none;
    color: #3498db;
}