.header {
    background: black;
    color: white;
    padding: 0px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;

}

.header a {
    color: white;
    text-decoration: none;
}

.nav-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    background: black;
    width: 80%;
    max-width: 900px;
    margin: 0 auto;
    flex-wrap: wrap;
}

.navegacion ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.navegacion ul li {
    display: inline-block;
}

.navegacion ul li a {
    display: block;
    padding: 1.85rem 10px;
    transition: all 0.2s linear;
    border-radius: 0px;
    font-family: 'Nanum Myeongjo', serif;
    font-weight: bold;

}

.navegacion ul li a:hover {
    background: rgba(243, 10, 10, 0.952);
}

.logo {
    width: 120px;
    height: 80px;
}

.menu-icon {
    display: none;
}

.contenedorvacio {
    background: rgba(243, 10, 10, 0.952);
    padding: 41px;

}

/*________________________________________*/
/*            menu miniatura             */

@media (max-width: 750px) {
    .menu-icon {
        display: block;
        cursor: pointer;
        padding: 0.4rem 5px;
        background: #e72d2d;
        border-radius: 3px;
        transition: all 0.2s linear;
    }

    .menu-icon:hover {
        background: rgb(247, 183, 183);
        color: black;

    }


    .navegacion ul {
        display: none;
    }

    .navegacion ul.show {
        display: block;

    }

    .navegacion {
        width: 100%;
    }

    .navegacion ul li {
        display: block;
        margin-top: 0.5rem;
    }

    .navegacion ul li a {
        display: block;
        padding: 0.5rem 0px;
        transition: all 0.2s linear;
        border-radius: 4px;

    }

    .navegacion ul li a:hover {
        background: rgba(243, 10, 10, 0.952);
    }

}