body {
    background: white;
    font-family: Georgia, times, serif;
    color: wi;
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
    line-height: 1.1em;
    
}

.direccionHYS iframe{
    
    width: 100%;
    
}


