.footer {
    background: black;
    color: white;
    margin-top: 100px;
}

.contenedorfooter {
    display: flex;
   /* background: rgb(88, 88, 88);*/
   background: black;
    width: 100%;
    margin: auto;
    
    
}

.contenedor1 {
    background: rgb(0, 0, 0);
    width: 30%;
    padding: 0 30px;

}

.contenedor2 {
    
    background: black;
    width: 35%;
    padding: 0 30px;
    margin:0 20px;


}

.contenedor3 {
    width: 30%;
    background: black;
    padding: 0 30px;

}

h3 {
    width: 100%;
    text-align: center;

}

h4 {
    width: 100%;
    text-align: center;
    padding: 0px;
    margin: 0px;
    

}

/*hr {
    border: 1px solid red;
    
}*/

.contenedor3 hr {
    width: 100%;
}